<!DOCTYPE html>
<html>
<head lang="zh-cmn-Hans">
    <meta charset="UTF-8">
    <title>{{ data['title'] }}</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=0">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- 360用GCF渲染 -->
    <meta name="renderer" content="webkit">
    <!-- 优先使用最新IE内核,chrome内核 -->
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <!-- 禁止百度转码 -->
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="stylesheet" href="http://w.qiandeer.com/qd/static/lock/assets/global.css"/>
    <style>
        html, body {
            font-size: 62.5%;
            height: 100%;
            min-height: 480px;
            width: 100%;
            background-color: #e5e5e5;
            font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, STHeiTi, sans-serif
        }
        body {
            font-size: 1.6rem;
        }
        h2 { font-size: 20px; padding: 16px 0px; margin: 0; }
        ul { display: block; padding: 0; margin: 0; }
        ul li { display: block; }
        .lists { margin: 0 12px; color: #666; padding-bottom: 24px; }
        .lists > li {
            margin: 0 0 12px 0;
        }
        .lists > li > strong {
            font-size: 16px;
            color: #d93c37;
        }
        .lists > li > ul {
            font-size: 14px;
            margin-top: 8px;
            line-height: 1.5;
            background-color: #fff;
            padding: 12px 16px;
        }
        hr { margin: 20px 0 12px 0; }
        .say { color: #d93c37; }
    </style>
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?4b93dfaedb3bbc5474c9ff73f0ac9b70";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body class="page box vertical">
    <h2 class="tac">赚钱攻略</h2>
    <ul class="lists">
        <li>
            <div class="box bac bpc">
                <img class="dib circle" src="http://w.qiandeer.com/qd/static/lock/images/page/nima.jpg" alt="nima" width="54" height="54"/>
                <div class="flex1 ml12 fs-14 say">哦买嘎OMG，一个人做任务真TM太累了！</div>
            </div>
            <div class="box bac bpc pt12">
                <img class="dib circle" src="http://w.qiandeer.com/qd/static/lock/images/page/jinge.jpg" alt="nima" width="54" height="54"/>
                <div class="flex1 ml12 fs-14 say">SB,现在哪个赚钱的是一个人独来独往自己做任务的，都在玩拉帮结派的收徒。</div>
            </div>
            <p class="indent mt8">
                1个徒弟奖励2元，还能拿他们所做的任务10%的官方补贴收益。1个徒弟每天赚10元，你就获得1元奖励； 10个徒弟每天赚10元，你就获得10元奖励； 100个徒弟每天赚10元，你就获得100元奖励.MD，一个月30天，你岂不是躺着都能搞3000，比X女躺着挣钱还轻松。
            </p>
        </li>
        <hr>
        <li class="pt12">
            <div class="box bac bpc">
                <img class="dib circle" src="http://w.qiandeer.com/qd/static/lock/images/page/nima.jpg" alt="nima" width="54" height="54"/>
                <div class="flex1 ml12 fs-14 say">大哥哥，我肿么才能收到徒弟呢？</div>
            </div>
            <div class="box bac bpc pt12">
                <img class="dib circle" src="http://w.qiandeer.com/qd/static/lock/images/page/jinge.jpg" alt="nima" width="54" height="54"/>
                <div class="flex1 ml12 fs-14 say">晕，朋友、亲戚、同学，都可以推荐玩啦，钱鹿锁屏又不是骗纸，都是实打实可以兑换的。</div>
            </div>
            <p class="indent mt8">
                QQ好友、QQ群、微信好友、微信朋友圈、QQ空间、新浪微博，主要是发动态、发微博，内容可以是钱鹿的使用心得、经验传授等，晒出你的收入兑换截图就更吸引了，重点是带上邀请链接、二维码或者ID。微信朋友圈是个非常靠谱的方式，建议每2天就发布一条晒收入的动态，求好友点赞，求转发，吸引更多朋友加入。
            </p>
        </li>
        <hr>
        <li class="pt12">
            <div class="box bac bpc">
                <img class="dib circle" src="http://w.qiandeer.com/qd/static/lock/images/page/nima.jpg" alt="nima" width="54" height="54"/>
                <div class="flex1 ml12 fs-14 say">膜拜！！师傅，还有什么武林秘籍么？</div>
            </div>
            <div class="box bac bpc pt12">
                <img class="dib circle" src="http://w.qiandeer.com/qd/static/lock/images/page/jinge.jpg" alt="nima" width="54" height="54"/>
                <div class="flex1 ml12 fs-14 say">来，叫“欧巴”，哥哥看家本领都给你了。</div>
            </div>
            <p class="indent mt8">
                百度贴吧、天涯、猫扑、豆瓣、各种论坛。
                贴吧、论坛聚集了大量兴趣相投的用户，你可以针对该用户群体，发布跟兴趣相关的贴子。实战经验表明，百度贴吧中，在手机游戏、赚钱等相关、人数超过1万的大吧中发布经验贴，能取得非常好的效果。
            </p>
            <p class="indent mt8">
                百度知道、新浪爱问、知乎等问答社区
                你可以回答关于赚钱、游戏币、游戏升级、生活类…等等相关问题，先热心回答他们的问题，然后再介绍钱鹿，讲解如何赚取现金，记得带上邀请链接或者ID哦。
            </p>
        </li>
    </ul>

</div>

<script src="http://w.qiandeer.com/qd/static/lock/assets/zepto.js"></script>
<script src="http://w.qiandeer.com/qd/static/lock/assets/api.js"></script>
<script>
    var PD = {
        txUrl: ''
    }


    /**
     *  =get request  获取url参数集合
     *
     *  @param     {string}  param name
     *  @return    {object}  参数集合
     */
    function getRequest () {
        var url = window.location.search,  // 获取url中"?"后面的字符串
                i = 0,
                args, arg,
                back = new Object();

        if (url == '') return 0;

        if (url.indexOf('?') != -1) {
            args = url.substr(1).split('&');

            for (; i < args.length; i++) {
                arg = args[i].split('=');
                back[arg[0]] = arg[1];
            }
            ;
        }

        if (arguments[0]) return back[arguments[0]];
        return back;
    }

    var     iswx        = /MicroMessenger/i.test(navigator.userAgent),
            iswb        = /weibo/i.test(navigator.userAgent) || /TencentMicro/i.test(navigator.userAgent) ,
            isqq        = /QQ/i.test(navigator.userAgent),
            isandroid   = /android/i.test(navigator.userAgent),
            isios       = !!navigator.userAgent.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/),
            params      = getRequest();


    window.onload = function() {
        if (isios) {
//            window.location.href = 'https://qiandeer.com';
            return false;
        }
        else {
            build();
            events();
        }

        return false;
    }

    // 构建
    function build () {
        if (iswx) {
            var $btn = $('.ym-banner-btn');
            $btn.attr('href', PD.txUrl);
        }
    }

    // 事件处理
    function events() {

        $('.page').on('tap', function(e) {
            var e = e || window.event,
                target = e.target,
                $this = $(target),
                ck = parseInt( $this.data('ck') || 0 );

            switch (ck) {
                default :
                    return false;
            }

            e.preventDefault();
            e.stopPropagation();
            return false;
        });
    }
</script>
</body>
</html>




